%main
  %div.row
    %div.large-8.columns.small-centered
      .row
        %div
          / = link_to '+Comic Series', new_comic_series_path, class: 'button small'
      .row
        %table#publishers-table
          %thead
            %tr
              %td Sub ID
              %td Name
              %td
          %tbody
            - @comic_series.each do |cs|
              %tr
                %td= cs.sub_id
                %td= link_to cs.name, edit_comic_series_path(cs)
                %td= link_to 'Delete', cs, method: :delete, data: { confirm: 'Are you sure?' }, class: 'index-btn button tiny alert'