%main
  %div.row
    %div.large-8.columns.large-centered
      %h5= params['action'].titleize
  %div.row
    %div.large-8.columns.large-centered
      = form_for @single_comic_series do |f|
        = render 'fields', f: f

        %div.row
          %div.large-8.columns.large-centered
            = f.submit 'Create', class: 'button expand'