%main
  %div.row
    %div.large-8.small-centered.columns
      %table
        %thead
          %tr
            %td Name
        %tbody
          - @publishers.each do |pub|
            %tr
              %td= link_to pub.name, edit_publisher_path(pub)